#main{
  /* border: 2px solid black; */
  background-image: url("../public/image/img2.jpg");
  height: 850px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}